@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

$cell-size: 40px;

$color-background: #1E1F20;
$color-cell: #4D4D50;
$color-obstacle: rgb(146, 146, 153);
$color-explosion: rgb(252, 0, 0);
$color-robot: #C5A639;
$color-white: #fff;
$color-almost-white: rgb(189, 189, 189);

body {
  background: $color-background;
  font-family: 'Ubuntu Mono', monospace;  
  color: #dddddd;
}

.gameover {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100vh;
  text-align: center;
  font-size: 5rem;
  color: red;
  background: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  display: none;
}
.gameover--visible {
  display: block;
}

.game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10 * $cell-size;
  height: 10 * $cell-size;
  .arena {
    position: absolute;
    .cell {
      position: absolute;
      background: $color-cell;
      width: $cell-size - 2px;
      height: $cell-size - 2px;
      margin: 1px;
      &--obstacle {
        background: $color-obstacle;
      }
    }
    .explosion {
      position: absolute;
      background: $color-explosion;
      width: $cell-size - 2px;
      height: $cell-size - 2px;
      margin: 1px;
      opacity: 0;
    }
  }  
}

.robot {
  position: absolute;  
  width: $cell-size - 12px;
  height: $cell-size - 12px;
  margin: 6px;
  background: $color-robot;
}

.console {
  margin-left: 20px;
}

.robot-legend {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  width: 10rem;
  &--one {
    left: 1rem;
  }
  &--two {
    right: 1rem;
  }
  &__title {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  &__meta-key {
    clear: both;
    float: left;
    width: 70%;
    color: $color-almost-white;
  }
  &__meta-value {
    float: left;
    width: 30%;
    text-align: right;
    color: $color-almost-white;
  }

}

.blink {
  animation: blink-animation 0.2s steps(5, start) 5;
}
@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}