@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
body {
  background: #1E1F20;
  font-family: 'Ubuntu Mono', monospace;
  color: #dddddd; }

.gameover {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100vh;
  text-align: center;
  font-size: 5rem;
  color: red;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none; }

.gameover--visible {
  display: block; }

.game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px; }
  .game .arena {
    position: absolute; }
    .game .arena .cell {
      position: absolute;
      background: #4D4D50;
      width: 38px;
      height: 38px;
      margin: 1px; }
      .game .arena .cell--obstacle {
        background: #929299; }
    .game .arena .explosion {
      position: absolute;
      background: #fc0000;
      width: 38px;
      height: 38px;
      margin: 1px;
      opacity: 0; }

.robot, .powerup {
  position: absolute;
  width: 28px;
  height: 28px;
  margin: 6px;
  background: #C5A639; }

.powerup {
  background: #4d9e4d;
  text-align: center;
  line-height: 28px; }

.console {
  margin-left: 20px; }

.robot-legend {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  width: 10rem; }
  .robot-legend--one {
    left: 1rem; }
  .robot-legend--two {
    right: 1rem; }
  .robot-legend__title {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem; }
  .robot-legend__meta-key {
    clear: both;
    float: left;
    width: 70%;
    color: #bdbdbd; }
  .robot-legend__meta-value {
    float: left;
    width: 30%;
    text-align: right;
    color: #bdbdbd; }

.blink {
  animation: blink-animation 0.2s steps(5, start) 5; }

@keyframes blink-animation {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
