$color-background: #1E1F20;

$color-highlight2: rgb(252, 0, 0);
$color-highlight1: #C5A639;
$color-highlight1-dark: rgb(148, 125, 41);
$color-highlight1-extra-dark: rgb(100, 84, 26);

$color-grey: #4D4D50;
$color-light-grey: rgb(146, 146, 153);

$color-white: #fff;
$color-almost-white: rgb(189, 189, 189);

body {
    font-family: Arial;
    font-size: 0.8rem;
    color: $color-highlight1;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0 0.5rem 0;
}

input[type="text"] {
    border: 1px solid $color-highlight1-extra-dark;
    background: transparent;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: $color-highlight1;
    line-height: calc(0.8rem + 1px + 1rem);
    margin: 0;
    display: inline-block;
    width: 5rem;
}

.form {
    width: 100%;
    &__row {
        width: 100%;
        padding: 0.5rem 0;
        &__label {
            width: 49%;
            margin-right: 1%;
            display: inline-block;
            text-align: right;
        }
        &__input {
            width: 49%;
            margin-left: 1%;
            display: inline-block;
        }
    }

}

.btn {
    border: 1px solid $color-highlight1-extra-dark;
    background: transparent;
    border-radius: 3px;
    overflow: hidden;
    padding: 0;
    transition: all 0.2s ease-out;
    margin: 0;
    display: inline-block;
    text-align: left;
    i {
        display: inline-block;
        border: 1px solid $color-highlight1-dark;
        color: $color-highlight1-dark;
        width: 0.8rem;
        height: 0.8rem;
        margin: 0.5rem;
        font-size: 0.6rem;
        text-align: center;
        line-height: 0.8rem;
        font-style: normal;
        font-weight: 700;
        transition: all 0.6s ease-out;
    }
    span {
        display: inline-block;
        text-align: center;
        line-height: 0.8rem;
        color: $color-highlight1;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }
    i ~ span {
        margin-left: 0rem;
    }
    &:hover, &--active {
        background: $color-highlight1-extra-dark;
        i {
            color: $color-background;
            background: $color-highlight1;
        }
    }
}

.btn-row {
    text-align: center;
}